.event-item {
  width: 18rem;
  height: fit-content;
  border-radius: 1rem;
  box-shadow: 5px 5px 14px 0px rgb(77, 50, 66);
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
}

.card-image {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.title {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5rem 5%;
  color: wheat;
}

.short-description {
  font-size: medium;
  margin: 0.5rem 5%;
  color: white;
}

.long-description {
  font-size: medium;
  margin: 0.5rem 5%;
  color: white;
}

.location {
  font-size: medium;
  margin: 0.5rem 5%;
  color: white;
}

.date {
  display: flex;
  text-align: start;
  font-size: small;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  margin: 0rem 5%;
  margin-top: -0.3rem;
}
